
/*Uncomment the follwoing lines to move facets to the left*/

/*
prm-search > md-content.md-primoExplore-theme .main {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;

}
.screen-gt-sm .sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}

*/

//// Colors
$sharePointBlue:#0D5EB8;
$mainNav: $sharePointBlue;
$topBar: darken($sharePointBlue, 20%);

// Need to specific ID# for specific chat instance in SpringShare, or !important
.lcs_slide_out, .lcs_slide_out-r{
  top:50% !important;
}

md-card-content{
  img {max-width: 100%;}
}

md-card.highlight{
  background:white;
}
.search-scope-text{
  font-family:"Arial", "Helvetica", sans-serif;
  h3{
    font-size: 18px;
    font-style: italic;
    font-weight:bold;
  }
  p{
    margin: 0 0 20px 0;
  }
}

.available-online-filter{
  img{max-width: 30%;float:left}
  p{max-width:66%; float:right; color:black; padding:4%;}
}



.prm-primary-bg.prm-hue1, prm-atoz-search-bar.prm-hue1, prm-browse-search-bar.prm-hue1, prm-collection-gallery-header .prm-hue1.collection-header-inner, prm-newspapers-search-bar.prm-hue1, prm-search-bar.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-tags-search-bar.prm-hue1, prm-topbar .top-nav-bar, prm-tree-nav prm-spinner .prm-hue1.diamond {
  background:$topBar;
}

.prm-primary-bg, prm-atoz-search-bar, prm-browse-search-bar, prm-collection-gallery-header .collection-header-inner, prm-newspapers-search-bar, prm-search-bar, prm-spinner.overlay-cover.light-on-dark:after, prm-tags-search-bar, prm-tree-nav prm-spinner .diamond {
  background:$mainNav; // match library banner
}


/* Show Main Menu links on Services Page */
prm-topbar .isDeposit, prm-topbar .isServicePage, prm-topbar .isSummonOverAlma {display: inline;}

