/*Uncomment the follwoing lines to move facets to the left*/
/*
prm-search > md-content.md-primoExplore-theme .main {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;

}
.screen-gt-sm .sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}

*/
/* line 21, ../../scss/custom1.scss */
.libchat-widget {
  top: 50% !important;
}

/* Show Main Menu links on Services Page */
/* line 28, ../../scss/custom1.scss */
prm-topbar .isDeposit, prm-topbar .isServicePage, prm-topbar .isSummonOverAlma {
  display: inline;
}

/* line 31, ../../scss/custom1.scss */
.default-card + .highlight {
  background: yellow;
}
/* line 33, ../../scss/custom1.scss */
.default-card + .highlight p {
  color: red;
}
