/*Uncomment the follwoing lines to move facets to the left*/
/*
prm-search > md-content.md-primoExplore-theme .main {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;

}
.screen-gt-sm .sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}

*/
/* line 21, ../../scss/custom1.scss */
.libchat-widget {
  top: 50% !important;
}

/* line 26, ../../scss/custom1.scss */
md-card-content img {
  max-width: 100%;
}

/* line 29, ../../scss/custom1.scss */
.highlight {
  background: white;
}

/* Show Main Menu links on Services Page */
/* line 34, ../../scss/custom1.scss */
prm-topbar .isDeposit, prm-topbar .isServicePage, prm-topbar .isSummonOverAlma {
  display: inline;
}
