/*Uncomment the follwoing lines to move facets to the left*/
/*
prm-search > md-content.md-primoExplore-theme .main {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;

}
.screen-gt-sm .sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}

*/
/* line 26, ../../scss/custom1.scss */
.lcs_slide_out, .lcs_slide_out-r {
  top: 50% !important;
}

/* line 31, ../../scss/custom1.scss */
md-card-content img {
  max-width: 100%;
}
/* line 32, ../../scss/custom1.scss */
md-card-content a {
  color: #062d59;
  font-weight: bold;
}

/* line 35, ../../scss/custom1.scss */
md-card.highlight {
  background: white;
}

/* line 38, ../../scss/custom1.scss */
.search-scope-text {
  font-family: "Arial", "Helvetica", sans-serif;
}
/* line 40, ../../scss/custom1.scss */
.search-scope-text h3 {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
/* line 45, ../../scss/custom1.scss */
.search-scope-text p {
  margin: 0 0 20px 0;
}

@media only screen and (min-width: 1200px) {
  /* line 53, ../../scss/custom1.scss */
  .available-online-filter img {
    max-width: 30%;
    float: left;
    border: 1px solid #062d59;
  }
  /* line 54, ../../scss/custom1.scss */
  .available-online-filter p {
    max-width: 66%;
    float: right;
    padding: 4% 0;
  }
}
/* line 56, ../../scss/custom1.scss */
.available-online-filter p {
  color: black;
}

/* line 61, ../../scss/custom1.scss */
.prm-primary-bg.prm-hue1, prm-atoz-search-bar.prm-hue1, prm-browse-search-bar.prm-hue1, prm-collection-gallery-header .prm-hue1.collection-header-inner, prm-newspapers-search-bar.prm-hue1, prm-search-bar.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-tags-search-bar.prm-hue1, prm-topbar .top-nav-bar, prm-tree-nav prm-spinner .prm-hue1.diamond {
  background: #062d59;
}

/* line 65, ../../scss/custom1.scss */
.prm-primary-bg, prm-atoz-search-bar, prm-browse-search-bar, prm-collection-gallery-header .collection-header-inner, prm-newspapers-search-bar, prm-search-bar, prm-spinner.overlay-cover.light-on-dark:after, prm-tags-search-bar, prm-tree-nav prm-spinner .diamond {
  background: #0D5EB8;
}

/* Show Main Menu links on Services Page */
/* line 74, ../../scss/custom1.scss */
prm-topbar .isDeposit, prm-topbar .isServicePage, prm-topbar .isSummonOverAlma {
  display: inline;
}

/* line 78, ../../scss/custom1.scss */
.my-refworks-ctm {
  display: none;
}

/* line 81, ../../scss/custom1.scss */
.my-refworks-separator-ctm {
  display: none;
}
